.viewer{
    height: 100%;
    width: max-content;
    float: left;
    padding: 10px;
}

.sidebar{
    background-color: #75008071;
    border-left:#750080 solid 3px;
    transition:0.5s;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    right: 0px;
    top: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
    padding: 10px;
    
}
.chat{
    height: fit-content;
    border-bottom: 1px solid #750080;
}

.resize-handle {
    width: 10px;
    height: 100%;
    background-color: #555;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    left: -5px;
  }