.viewer{
    height: 70vh;
    width: 70vw;
    float: left;
    padding: 10px;
}

.sidebar{
    background-color: #75008071;
    border-left:#750080 solid 3px;
    transition:0.5s;
    height: 87vh;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    right: 0px;
    top: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
    padding: 10px;
}
.chat{
    height: fit-content;
    border-bottom: 1px solid #750080;
}

  .notes{
    height: calc(60%);
    padding-top: 20px;
  }