
.logincontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../../public/3714961.svg);
    background-repeat:repeat-x;
    background-position: 11vh 7px;
    background-size:contain;

}
.loginForm{ 
    border-right: 3px solid #750080;
    padding: 0em 2em;
    display: flex;
    line-height: 2px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
    background-color: #750080;
    form{
        display: flex;
        gap: 4px;
        flex-direction: column;
        input{
            height: 2.5em;
            width: 25em;
            border-radius: 5px;
            border-style: hidden;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            padding: 5px 0px 5px 15px;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: 200;
            color:black;
            font-size: large;
            
        }
        input:focus{
            font-size: large;
            outline: none;

        }
        input:hover{
            box-shadow: 0 6px 8px rgba(19, 19, 19, 0.832);
            transform: scale(1.01);
            transition: all 0.2s ease-in-out; 
        }
    }
}
.loginButton{
    height: 2.5em;
    width: 35em;
    padding: 5px;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
    background-color:#F9F0DF;
    color:#750080 ;
}
button:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-out;
}

#toRegister{
    color: #F9F0DF;
    font-size: 1.2em;
    font-weight: bolder;
    a{
        color: #dde687;
    }
}

.Cloudbag-head{
    align-self: center;
    font-weight: bolder ;
    font-size:3em;
    color: #F9F0DF;
    transform: translateY(-20px);
}

#loginpage-login{
    color: #F9F0DF;
    font: 1.5em monospace;

}