@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.body-frame{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #750080, #500456)
}

.top-bar{
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    font-size: large;
    padding: 25px;
    font-weight: bold;
}

.get-started{
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
.get-started:hover{
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.74);
  transform: translateY(-5px);
  transition: all .5s ease-in-out;
}

.about{
  padding:30px;
}

.mid-bar{
    display: flex;
    justify-content: flex-start;
    padding: 10px 4em;
    text-align: center;
}

.threed-text {
  font-size: 150px;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  perspective: 1000px;
}

.threed-text span {
  display: inline-block;
  transition: transform 0.5s;
}

.threed-text:hover span {
  transform: rotateZ(180deg);
}
  .threed-text:hover span {
    transform: rotateY(180deg);
  }

.threed-text span:nth-child(odd) {
  /* background: linear-gradient(90deg, #F9F0DF, #e2cea8); */
  background-color: #F9F0DF;
  background-clip: text;
  color: transparent;
}

.threed-text span:nth-child(even) {
  /* background: linear-gradient(90deg, #decba7, #F9F0DF); */
  background-color: #F9F0DF;
  background-clip: text;
  color: transparent;
}

  .space-between {
    margin-right: 20px;
  }

  a {
    color: black;
  }
  .top-bar a:hover {
    color: #750080; 
  }
  .about-bar{
    color:white;
    text-align: left;
    padding: 4em 3em;
  }
  .about-box{
    inline-size: 40em;
    font-family: "Madimi One", sans-serif;
    word-spacing: 5px;
    font-size: larger;
  }
  .homepage-image{
    background-image: url('../../../public/vecteezy_3d-illustration-learn-math-at-home_20946545.png');
    width: 50em;
    height: 30em;
    background-size: contain;
    background-repeat: no-repeat;

  }
