#ques-InputBox{
    width: 60%;
    height: 2.5em;
    border-radius: 5px;
    background-color: #F9F0DF;
    border:solid 1px #750080;
    outline: none;
    color: #750080;
    font-family: monospace;
    padding-left: 10px;
    font-size: large;
    text-wrap:balance;

}

#head{
    font-size: 15px;
}

.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ques-search{
    width: 40px;
    height: 40px;        
    border: 1px solid #750080;
    background-color: #F9F0DF;
    color: #750080;
    border-radius: 50px;
    margin: 5px;
    background-image: url(../../assets/icons8-search.svg);
    padding: 0px;
    background-size:30px ;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

#ques-mic{
    width: 3em;
    height: 3em;
    padding: 0px;
    border: 1px solid #750080;
    color: #750080;
    border-radius: 50px;
    background-image: url(https://img.icons8.com/ios/50/microphone.png);
    background-size:30px ;
    background-color: #F9F0DF;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    z-index: 4;
}

#ques-mic:hover{
    background-color: #F9F0DF
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.response{
    color:#750080;
    border: 1px solid #F9F0DF ;
    background-color:#F9F0DF;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 1px 5px 1px;
    transition: ease-in-out 1s box-shadow;
}
