.notebook-container {
    width: 100%;
    height: 30vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    i{
      position:relative;
      left: -10px;
    }
  }
  
  .notebook-content {
    width: 18em;
    height: 100%;
    padding: 15px;
    border-radius: 10px; 
    background-color: #fff6e8;
    scrollbar-color: transparent;
    overflow: auto; 
    pre{
      font-size: 15px;
      word-wrap: break-word;
    }
  }
  
  .notebook-textarea {
    transition: all .2s ease-in-out;
    width: 90%;
    border-radius: 10px; 
    height: 100%;
    padding: 15px;
    outline: none;
  }
  