body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loading-text {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
