.prompt{
    position: absolute;
    margin: auto;
    width:100vw;
    height: calc(100vh - 3em);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 4, 4, 0.816);
}
.prompt-box{
    border: 1px solid rgb(124, 4, 124);
    height: 10em;
    width: 20em;
    background-color: antiquewhite;
    z-index: 1;
}