.file-drop-box {
  border: 2px dashed #F9F0DF;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.file-drop-box.dragging {
  transition: all ease-in-out linear 1s;
  border-color: #750080;
  background-color: #F9F0DF; /* LightBlue */
}
.upload-container{
  margin: 10px;
}