.file-drop-box {
  border: 2px dashed #F9F0DF;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.file-drop-box.dragging {
  transition: all ease-in-out linear 1s;
  border-color: #750080;
  background-color: #F9F0DF; /* LightBlue */
}
.upload-container{
  margin: 10px;
}
#upload-button{
  height: 2.5em;
  width: 35em;
  padding: 5px;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: bolder;
  background-color:#F9F0DF;
  color:#750080 ;
}