<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head.ejs')%>

<body>
<center>
<h1>404 error</h1>

<a href="/" ><button type="submit">home</button></a>


<a href="/about" ><button type="submit">about</button></a>


<%-include('./partials/footer.ejs') %>
</center>
</body> 
</html>          