<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Essay</title>

</head>
<body>
    <h1>Write Essay</h1><br>
    <textarea id="paragraph" name="para" placeholder="Try it" rows="10" cols="50" spellcheck="true"></textarea>
    
    <div id="accur-div">
        <div id = "accuracy"></div>
    </div>  
    <button id="verify" onclick="validate()">Verify</button>
    <div id="results"></div>


    <script>
        function validate() {
            var paradata = document.getElementById('paragraph').value;
            const data = new URLSearchParams();
            data.append('para', paradata);

            fetch('/grammacheck', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ para: paradata })
            }).then(response => response.json())
                .then(data => {

                    const resultDiv = document.getElementById('results');
                    resultDiv.innerHTML = ' ';
                    const accuracy = document.getElementById('accuracy');
                    accuracy.innerHTML = " ";
                    let numWord = data.numWord.length;
                    let numErr = data.Result.length
                    let errCode = numWord - numErr;
                    var percentageoferr = (errCode/numWord)*100;
                    const Accuracy = document.createElement('meter');
                    Accuracy.value = errCode;
                    Accuracy.max = numWord; 
                    document.getElementById("accuracy").innerHTML = percentageoferr.toFixed(1)+"% accuracy";
                    accuracy.appendChild(Accuracy);
                    const createCounter = () => {
                        let count = 0;
                        return () => {
                            return ++count;
                        };
                    };
                    const counter = createCounter();
  
                    if (data.Result.length > 0) {
                        data.Result.forEach(each => {
                            let no = counter();
                            console.log(no)

                            const ul = document.createElement('ul');
                            let li = document.createElement('li');
                            const p = document.createElement('p');
                            const constainer = document.createElement('div');
                            const wordLi = document.createElement('li');
                            const messageLi = document.createElement('li');
                            const sentenceLi = document.createElement('li');
                            
                            p.textContent = 'error : ' + no;
                            console.log(p);
                            messageLi.textContent = `Message: ${each.message}`;
                            sentenceLi.textContent = `Sentence: ${each.sentence}`;
                            wordLi.textContent = `Word: ${each.word}`;
                            
                            ul.append(messageLi);
                            ul.append(sentenceLi);
                            ul.append(wordLi);
                            constainer.append(p);
                            constainer.append(ul);
                            p.style.marginBottom = '0px';
                            resultDiv.appendChild(constainer);
                        });
                    } else {
                        resultDiv.innerHTML = '<h5>No grammar errors found.</h5>';
                    }
                })
                .catch(error => {
                    console.log('Error checking grammar:', error);
                });
        }
    </script>
</body>
</html>
