<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <input type="text" id="username" placeholder="Username"><button type="submit" onclick="login()">Login</button>
    <script>
        function login(){
            var username = document.getElementById("username").value;
            sessionStorage.setItem('userid',username);
            window.location.href =" http://localhost:5000/dashboard";
        }
    </script>
</body>
</html>