<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudbag</title>
    <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script> -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"></script>
    <style>
        /* Set width and height of model-viewer element */
        model-viewer {
            width: 500px;
            height: 500px;
        }
        .model-div{
            float: right;
            background-color: #F9F0DF;
            width: 50%;
        }
        .view{
            padding: 10px 20px;
            color: white;
            background-color: #750080;
            border-radius: 10px;
        }
        body{
            justify-content: center;
            text-align: center;
            background-color: #F9F0DF;
        }
        h2{
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
        }
        select{
            border-radius: 10px;
            empty-cells: hide;
        }
    </style>
</head>
<body>
    <h2>Cloudbag-AR</h2>
    <select id="3dmodels">
        <option value="heart">Heart</option>
        <option value="brain">Brain</option>
        <option value="lungs">Lungs</option>
        <option value="kidney">Kidney</option>
        <option value="skeleton">Skeleton</option>
    </select>
    <button onClick="modelview()" class="view">View Model</button>
    <div class="model-div" id="3dmodel"></div>

</body>
<script>
    function modelview(){
        const model = document.getElementById('3dmodels').value;
        document.getElementById('3dmodel').innerHTML = `<model-viewer src="3dmodels/${model}.glb" alt="" ar auto-rotate camera-controls ></model-viewer>`;
    }
</script>
</html>