.avatar{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 0;
    overflow: hidden;
    background-image: url("../../public/images.jpg");
    background-size: cover;
    position: relative;
    z-index: 2;

}
.avatar:hover{
    transform: scale(1.2)
}

#image{
    width: fit-content;
    height: fit-content;
    
}
.dropdown{
    text-align: right;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: .5rem    ;
    position: absolute;
    top: 1em;
    right: 15px;
    z-index: 1;
    background-color: #F9F0DF;
    border-radius: 20px;
    width: 10em;
    box-shadow: 10px 20px 20px -10px;
    gap: 2em;
}
#username{
    z-index: 3;
    position: relative;
    margin-right: 10px;
    font-size: large;
}

.dropdown-buttons{
    cursor: pointer;
}