.drawer-container{
    float: left;
    border: solid black 1px;
    position: absolute;
    background-color: wheat;
    transition: all ease-in-out 1s;
}
.drawer-button{
    border: 1px solid black;
    width: fit-content;
    cursor:pointer;
}
