.nav{
    display:flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: #750080 solid 1px;
    /* position:fixed; */
}

#right{
    display: flex;
    gap: 5vw;
}


#logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    color:#750080;
}
#logo:hover{
    transition: all .2s ease-in-out;
    border-radius:5px;
    opacity: .6;
}

a{
    text-decoration: none;
}

#user{
    display: flex;
    align-items: flex-end;
    gap: 1vw;
}
#links{
    display:flex;
    gap: 3vw;
    align-items: flex-end;
}
.link{
    padding: 2px 5px;
    border: #750080 solid 1px;
    border-radius: 5px;
    font-weight:500;
    display: flex;
    font-size: 15px;
}
.link:hover{
    transition: all .5s ease-in-out;
    background-color: #750080;
    color: #F9F0DF;
}