.nav{
    display:flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom:#750080 solid ;
}
#right{
    display: flex;
    gap: 5vw;
}


#logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    color:#750080;
}
a{
    text-decoration: none;
}

#user{
    display: flex;
    align-items: flex-end;
    gap: 1vw;
}
#links{
    display:flex;
    gap: 3vw;
    align-items: flex-end;
}
.link{
    font-weight:500;
}